
<article id="post" 

<% if(page.table == 'yes') { %>
  class="htable"  
<% } %>

  style="padding-top:50px;padding-bottom:100px;border-bottom: 1px dashed #ccc;">
  <h1><%=page.title%>
  <a style="float: right;display:block;background-color:#e25440;color:#f8f8f8;width:60px;height:27px;text-align: center;border-radius:3px;" href="<%=config.root%>atom.xml" title="Rss" target="_blank">
      Rss
  </a>
  </h1>

  <%-page.content%>
</article>

<div id="disqus_thread" ></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-helkay-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>