@import url(uno.css);

/* Modifications */



.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}


/* 归档页面样式  */
.post-body {
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
@media (max-width: 767px) {
  .post-body {
    word-break: break-word;
  }
}
.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}
.post-body .image-caption,
.post-body .figure .caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
.post-sticky-flag {
  display: inline-block;
  font-size: 16px;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
  .post-body pre,
  .post-body .highlight {
    padding: 10px;
  }
  .post-body pre .gutter pre,
  .post-body .highlight .gutter pre {
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}
.posts-expand .post-body h2 .header-anchor,
.posts-expand .post-body h3 .header-anchor,
.posts-expand .post-body h4 .header-anchor,
.posts-expand .post-body h5 .header-anchor,
.posts-expand .post-body h6 .header-anchor {
  float: right;
  margin-left: 10px;
  color: #ccc;
  border-bottom-style: none;
  visibility: hidden;
}
.posts-expand .post-body h2 .header-anchor:hover,
.posts-expand .post-body h3 .header-anchor:hover,
.posts-expand .post-body h4 .header-anchor:hover,
.posts-expand .post-body h5 .header-anchor:hover,
.posts-expand .post-body h6 .header-anchor:hover {
  color: inherit;
}
.posts-expand .post-body h2:hover .header-anchor,
.posts-expand .post-body h3:hover .header-anchor,
.posts-expand .post-body h4:hover .header-anchor,
.posts-expand .post-body h5:hover .header-anchor,
.posts-expand .post-body h6:hover .header-anchor {
  visibility: visible;
}
.posts-expand .post-body ul li {
  list-style: circle;
}
.posts-expand .post-body img {
  box-sizing: border-box;
  margin: auto;
  padding: 3px;
  border: 1px solid #ddd;
}
.posts-expand .fancybox img {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  z-index: 1010;
  margin-left: 55px;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
}
.posts-collapse .collection-title {
  position: relative;
  margin: 60px 0;
}
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 40%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 7px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
  border-bottom:none;
  margin-bottom: 5px;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
}
.page-home .post-type-quote .post-header,
.page-post-detail .post-type-quote .post-header,
.page-home .post-type-quote .post-tags,
.page-post-detail .post-type-quote .post-tags {
  display: none;
}
.posts-expand .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
@media (max-width: 767px) {
  .posts-expand .post-title {
    font-size: 22px;
  }
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.posts-expand .post-title-link .fa {
  font-size: 16px;
}
.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: #999;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
}
.posts-expand .post-meta .post-category-list {
  display: inline-block;
  margin: 0;
  padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
  color: #999;
}
.posts-expand .post-meta .post-description {
  font-size: 14px;
  margin-top: 2px;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .posts-expand .post-comments-count {
    display: none;
  }
}
.social-like {
  font-size: 14px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 9px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.vk_like {
  width: 85px;
  height: 21px;
  padding-top: 7px;
  align-self: center;
}
.fb_like {
  height: 30px;
  align-self: center;
}
.post-button {
  margin-top: 50px;
}
.post-button .btn {
  color: #555;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  line-height: 2;
  margin: 0 4px 8px 4px;
}
.post-button .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;
}
.posts-expand .post-tags a {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}
.post-nav {
  display: table;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  width: 45%;
  vertical-align: top;
}
.post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #555;
  border-bottom: none;
}
.post-nav-item a:hover {
  color: #222;
  border-bottom: none;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 12px;
}
.post-nav-next a {
  padding-left: 15px;
}
.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 15px;
}
.post-nav-prev .fa {
  right: 0;
  left: auto;
}
.posts-expand .post-eof {
  display: block;
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.post:last-child .post-eof.post-eof.post-eof {
  display: none;
}
.post-gallery {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.post-gallery-row {
  display: table-row;
}
.post-gallery .post-gallery-img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.post-gallery .post-gallery-img img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}
.fancybox-close,
.fancybox-close:hover {
  border: none;
}
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
.archive-move-on {
    position: absolute;
    top: 11px;
    left: 0;
    margin-left: -6px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background: #555;
    border: 1px solid #fff;
    border-radius: 50%;
}

.archive-page-counter {
    position: relative;
    top: 9px;
    left: 20px;
}

